<div class="toolbar">
	<span>Router Demo App</span>
	<div class="spacer"></div>

	<!-- add a router link to this button -->
	<button routerLink="">Home</button>

	<!-- add a router link to this button -->
	<button routerLink="products">Products</button>
</div>


<!-- TODO: currently all these components are shown at the same time.
  replace them with a router-outlet that shows content based on the current route
-->
<app-home></app-home>
<app-products></app-products>
<app-details></app-details>



<!-- Instructions -->
<hr>
<h3>Instructions</h3>
<ol>
	<li>Set up Routing in the <code>app.routing.module.ts</code></li>
	<li>Configure the router outlet and links in the <code>app.component.html</code></li>
	<li>Configure the list items in the <code>products.component.html</code> to link to the details component with each
		ID as a parameter</li>
	<li>Configure the <code>detail.component.ts</code> to dynamically show the correct product based on the route
		parameter</li>
</ol>